*{
   margin: 0;
   padding: 0;
}
.modal-button{
    background: #B68C5A
}
.modal-button:hover{
    background-color: aquamarine;
}
.card-style img{
    width: 50px;
    border:none;
}
.card-group{
    border: none;
}
.man-style{
    width: 50px;
    border-radius: 50%;
}